ey-core
eyrc
hellrazor
hermes
marketo
nvim/.init.vim-rplugin~
nvim/.netrwhist
nvim/autoload/*
nvim/plugged/*
nvim/tmp/*
restforce
ronin
salesforce
secret
trello
vim/.netrwhist
vim/.viminfo
vim/autoload/*
vim/backups/*
vim/bundle/*
vim/plugged/*
vim/swaps/*
vim/undo/*
vim/view/*
