*.zwc
*.zwc.old
git/config.local
vim/.netrwhist
vim/autoload/plug.vim
vim/autoload/plug.vim.old
vim/tmp
vim/vendor
vim/vimrc.local
zsh/.zcompdump
zsh/cache
zsh/completion/_rustup
zsh/configs/local.zsh
zsh/local.zsh
